Repository ottomiranda/memora-music, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @senior-devs, @frontend-team, @react-specialists, @ui-specialists, @design-system-team, @backend-team, @node-specialists, @database-team, @devops-team, @typescript-specialists, @build-specialists, @monorepo-specialists, @security-team, @tech-writers, @qa-team, @test-specialists, @e2e-specialists, @integration-specialists, @performance-team, @sre-team, @data-team

.github/CODEOWNERS:

# Code Owners for Memora Music
# This file defines who should review specific parts of the codebase
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-leads @senior-devs

# Frontend code
/src/ @frontend-team @react-specialists
/public/ @frontend-team
/components/ @frontend-team @ui-specialists
/pages/ @frontend-team
/styles/ @frontend-team @design-system-team

# Backend code
/api/ @backend-team @node-specialists
/server/ @backend-team
/lib/ @backend-team
/utils/ @backend-team

# Database and migrations
/prisma/ @backend-team @database-team
/supabase/ @backend-team @database-team
/migrations/ @database-team @senior-devs

# Infrastructure and DevOps
/.github/ @devops-team @senior-devs
/docker/ @devops-team
/scripts/ @devops-team
/Dockerfile @devops-team
vercel.json @devops-team @senior-devs

# Configuration files
package.json @team-leads @senior-devs
package-lock.json @team-leads
tsconfig.json @team-leads @typescript-specialists
tailwind.config.js @frontend-team @design-system-team
vite.config.ts @frontend-team @build-specialists
turbo.json @devops-team @monorepo-specialists

# Environment and secrets
.env.example @team-leads @devops-team @security-team
.env* @security-team @devops-team

# Documentation
/docs/ @tech-writers @team-leads
*.md @tech-writers @team-leads
README.md @team-leads @tech-writers
CHANGELOG.md @team-leads

# Security and compliance
/.github/workflows/ @devops-team @security-team
/.github/SECURITY.md @security-team @team-leads
/.github/dependabot.yml @security-team @devops-team

# Testing
/tests/ @qa-team @backend-team @frontend-team
/e2e/ @qa-team @senior-devs
*.test.* @qa-team
*.spec.* @qa-team
jest.config.* @qa-team @test-specialists
playwright.config.* @qa-team @e2e-specialists

# Specific file types
*.sql @database-team @senior-devs
*.yml @devops-team
*.yaml @devops-team
*.json @team-leads

# Third-party integrations
/integrations/ @backend-team @integration-specialists
/webhooks/ @backend-team @security-team

# Performance critical files
/performance/ @performance-team @senior-devs
/optimization/ @performance-team

# Monitoring and observability
/monitoring/ @devops-team @sre-team
/logging/ @devops-team @backend-team
/metrics/ @devops-team @data-team

fix: corrigir URLs hardcoded para funcionar em produção no Vercel
  scripts/validate-env.js
  src/config/api.ts
  src/store/musicStore.ts
Owners: @devops-team, @frontend-team, @react-specialists

feat: implement user authentication flow and download utility
  api/routes/auth.ts
  api/server.ts
  src/components/memora/AuthModal.tsx
  src/store/authStore.ts
  src/store/uiStore.ts
  src/utils/download.ts
Owners: @backend-team, @node-specialists, @frontend-team, @react-specialists

fix(cors): add x-guest-id header to CORS configuration
  api/check-music-status.ts
  api/generate-preview.ts
  api/health.ts
  api/migrate-guest-data.ts
  api/server.ts
  api/songs.ts
Owners: @backend-team, @node-specialists

fix(deploy): remove duplicate api/server.js file causing Vercel deployment conflict
  .trae/documents/backend_auto_save_architecture.md
  .trae/documents/implementation_guide.md
  .trae/documents/paywall_implementation_guide.md
  .trae/documents/paywall_technical_architecture.md
  api/routes/migrate-guest-data.js
  api/routes/songs.js
  api/test-simple.ts
  dist/Videos/Filho_emociona_pai_com_música.mp4
  dist/Videos/Mae_e_Filha_em_Dia_Especial.mp4
  dist/assets/index-BXi4Z7FV.js
  dist/assets/index-DcuIhfuZ.css
  public/Videos/Filho_emociona_pai_com_música.mp4
  public/Videos/Mae_e_Filha_em_Dia_Especial.mp4
  public/memora_favicon.svg
  scripts/verify-ports.cjs
  server.ts
  src/components/Layout.tsx
  src/components/memora/FeedbackPopup.tsx
  src/hooks/useAutoMigration.ts
  src/hooks/useScrollToTop.ts
  src/lib/schemas/song.js
  src/lib/services/songService.js
  src/lib/utils/guestUtils.ts
  src/pages/MinhasMusicas.tsx
  src/utils/guest.ts
  supabase/migrations/002_create_songs_table.sql
  supabase/migrations/003_update_songs_table.sql
  supabase/migrations/004_fix_guest_policies.sql
  supabase/migrations/005_fix_user_id_constraint.sql
  supabase/migrations/006_debug_constraint.sql
  supabase/migrations/007_check_data.sql
  supabase/migrations/008_create_migration_rpc.sql
  supabase/migrations/009_fix_constraint_issue.sql
  test-payload.json
Owners: @tech-writers, @team-leads, @backend-team, @node-specialists, @senior-devs, @frontend-team, @devops-team, @react-specialists, @database-team

Sync: Integrate Vercel deployment changes and fix TypeScript errors
  api/routes/check-music-status.ts
  api/server.ts
  nodemon.json
  package.json
  src/App.tsx
  src/config/api.ts
  src/store/authStore.ts
  src/store/musicStore.ts
  vite.config.ts
Owners: @backend-team, @node-specialists, @team-leads, @frontend-team, @react-specialists, @build-specialists
